name: hashicorp/vault-rails/run-tests
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        # https://endoflife.date/ruby
        ruby: ["2.7", "3.0", "3.1", "3.3"]
        vault: ["1.11.9", "1.19.5", "1.20.4", "1.21.0"]
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      - uses: ruby/setup-ruby@ab177d40ee5483edb974554986f56b33477e21d0 # v1.265.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: "Install vault cli"
        run: |
          curl -sLo vault.zip "https://releases.hashicorp.com/vault/${{ matrix.vault }}/vault_${{ matrix.vault }}_linux_amd64.zip"
          unzip vault.zip
          mkdir -p "$HOME/bin"
          mv vault "$HOME/bin"
          echo "$HOME/bin" >> "$GITHUB_PATH"
      - name: "Setup tests"
        run: |
          bundle exec rake app:db:create
          bundle exec rake app:db:schema:load
          bundle exec rake app:db:test:prepare
          gem uninstall sqlite3
      - name: "Run tests"
        run: bundle exec rake spec

permissions:
  contents: read
